* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.active {
  color: #007bff;
}

ul > li > ul {
  margin-left: 1.5rem;
}

form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 600px;
}

.box h2 {
  color: #1a3a5e;
  text-decoration: underline;
}

.box h3 {
  color: #8b95c7;
}

input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  position: relative;
  text-align: center;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.redis-display p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.redis-display p.results {
  font-size: 2rem;
}

.redis-display p.icon {
  margin-top: 1rem;
}

.redis-display p.no-data {
  font-family: 'Courier New', Courier, monospace;
  color: #ccc;
}

table {
  width: 80%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

td,
th {
  padding: 0.1rem;
  text-align: center;
  min-width: 3rem;
}

.no-data {
  border-bottom: none;
  font-family: "Courier New", Courier, monospace;
}

.no-data td {
  padding: 1rem;
  color: #ccc;
}
